<section>
  <div class="container">
    <h2>請輸入支出明細</h2>
    <form action="/records/create" method="POST">
      <div class="group">
        <label>名稱 : </label>
        <input type="text" name="Name" placeholder="breakfast..." required>
      </div>
      <div class="group">
        <label>日期 : </label>
        <input type="date" name="Date" required>
      </div>
      <div class="group">
        <label>種類 : </label>
        <select name="Category" required>
          <option value="home/fas fa-home">住宿</option>
          <option value="traffic/fas fa-shuttle-van">交通</option>
          <option value="entertainment/fas fa-grin-beam">娛樂</option>
          <option value="food/fas fa-utensils">飲食</option>
          <option value="other/fas fa-pen">其他</option>
        </select>
      </div>
      <div class="group">
        <label>金額 : </label>
        <input type="number" name="Amount" placeholder="300" required>
      </div>
      <input type="submit" value="新增支出" class="btn">
    </form>
    <a href="/records">退回</a>
  </div>
</section>
