<section>
  <div class="container">

    <!--  Title  -->
    <h2>請編輯支出明細</h2>
    <form action="/records/{{  record._id  }}/edit" method="POST">

      <!--  Name  -->
      <div class="group">
        <label>名稱 : </label>
        <input type="text" name="Name" placeholder="breakfast..."
          value="{{  record.name  }}" required>
      </div>

      <!--  Date  -->
      <div class="group">
        <label>日期 : </label>
        <input type="date" name="Date" value="{{  record.date  }}" required>
      </div>

      <!--  Category  -->
      <div class="group">
        <label>種類 : </label>
        <select name="Category" required>
          <option value="home/fas fa-home" {{#if (same record.category 'home'
            )}} selected {{/if}}>住宿</option>
          <option value="traffic/fas fa-shuttle-van" {{#if (same
            record.category 'traffic' )}} selected {{/if}}>交通</option>
          <option value="entertainment/fas fa-grin-beam" {{#if (same
            record.category 'entertainment' )}} selected {{/if}}>娛樂</option>
          <option value="food/fas fa-utensils" {{#if (same
            record.category 'food' )}} selected {{/if}}>飲食</option>
          <option value="other/fas fa-pen" {{#if (same record.category 'other'
            )}} selected {{/if}}>其他</option>
        </select>
      </div>

      <!--  Amount  -->
      <div class="group">
        <label>金額 : </label>
        <input type="number" name="Amount" placeholder="300"
          value="{{  record.amount  }}" required>
      </div>

      <!--  Submit  -->
      <input type="submit" value="確認更改" class="btn">
    </form>

    <!--  Back  -->
    <a href="/">退回</a>

  </div>
</section>
